<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/css/layui.css">

</head>
<body class="layui-layout-body">

<div style="padding: 20px; background-color: #F2F2F2;">
    <form class="layui-form layui-form-pane" action="" name="ChangeImformation">
    <div class="layui-row layui-col-space15" >
        <div class="layui-col-md6 layui-col-md-offset3" >
            <div class="layui-card">
                <div class="layui-card-body">

                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号码</label>
                        <div class="layui-input-block" style="width: 120px">
                            <input type="text" name="phone_no"id="phone_no" placeholder="请输入" autocomplete="off"
                                   class="layui-input"lay-verify="phone">
                        </div>
                    </div>


                    <div class="layui-form-item" >
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-block" style="width: 120px">
                            <input type="text" name="profession"id="profession" placeholder="请输入" autocomplete="off"
                                   class="layui-input" lay-verify="required">
                        </div>
                    </div>



                    <div class="layui-form-item">
                        <label class="layui-form-label">班级</label>
                        <div class="layui-input-block" style="width: 120px">
                            <input type="text" name="class_no" id="class_no" placeholder="请输入" autocomplete="off"
                                   class="layui-input"lay-verify="required">
                        </div>
                    </div>

                    <div class="layui-form-item" style="margin: 0px 0px 0px 100px;">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<script src="/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        laydate.render({
            elem: '#test2'
            ,type: 'year'
        });

        //自定义验证规则
        form.verify({
            number: function(e) {
                if (!e || isNaN(e)) return "只能填写数字"
            },
        });

        form.on('submit(reg)', function (data) {
            $.ajax({
                cache : true,
                type : "post",
                url : "/test/student/upload",
                async : true,
                dataType: 'json',
                data: data.field,
                error : function(request) {
                    layer.msg('提交失败', {icon: 1, time: 1000});
                },
                success : function(ret) {
                    if (ret.success) {
                        layer.msg('提交成功', {icon: 1, time: 1000});
                    } else {
                        layer.msg('提交失败', {icon: 1, time: 1000});
                    }
                }
            })
        });

return false;
    });
</script>

</body>
</html>