<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/jquery-3.4.1.js"></script>
</head>
<body class="layui-layout-body">

<div style="padding: 20px; background-color: #F2F2F2;">
    <form class="layui-form layui-form-pane" action="" id="formDemo" >
        <div class="layui-row layui-col-space15" >
            <div class="layui-col-md6 layui-col-md-offset3" >
                <div class="layui-card">
                    <div class="layui-card-body">

                        <div class="layui-form-item" >
                            <label class="layui-form-label">旧密码</label>
                            <div class="layui-input-block" style="width: 120px;">
                                <input type="password" name="old_password" placeholder="请输入旧的密码" autocomplete="off"
                                       class="layui-input"lay-verify="pass">
                            </div>
                        </div>

                        <div class="layui-form-item" >
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block" style="width: 120px;">
                                <input type="password" name="password" placeholder="请输入新的密码" autocomplete="off"
                                       class="layui-input"lay-verify="pass">
                            </div>
                        </div>

                        <div class="layui-form-item" >
                            <label class="layui-form-label">请确认</label>
                            <div class="layui-input-block" style="width: 120px;">
                                <input type="password" name="check_password" placeholder="请确认新的密码" autocomplete="off"
                                       class="layui-input"lay-verify="pass|confirmPass">
                            </div>
                        </div>



                        <div class="layui-form-item" style="margin: 0px 0px 0px 100px;">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="reg">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,$=layui.jquery;

        //自定义验证规则
        form.verify({
            pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,confirmPass:function(value){
                var pwd = $('input[name=password]').val();
                if (pwd !== value)
                    return "二次输入的密码不一致！";
            }
        });

    });

    layui.use('form', function () {
        var form = layui.form;
        var $=layui.jquery;

        form.on('submit(reg)', function (data) {
            $.ajax({
                cache : true,
                type : "post",
                url : "/test/student/upload",
                async : true,
                dataType: 'json',
                data: data.field,
                error : function(request) {
                    layer.msg('提交失败', {icon: 1, time: 1000});
                },
                success : function(ret) {
                    if (ret.success) {
                        layer.msg('提交成功', {icon: 1, time: 1000});
                    } else {
                        layer.msg('提交失败', {icon: 1, time: 1000});
                    }
                }
            })
        });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
</script>

</body>
</html>