<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>提交申请</title>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/jquery-3.4.1.js"></script>
</head>

<style>
    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
    }
</style>

<body class="layui-layout-body">
<div class="page">
    <div class="little-header">
        <blockquote class="layui-elem-quote">提交申请</blockquote>
    </div>
</div>
<div style="padding:180px  20px; background-color: #F2F2F2;">
    <form class="layui-form layui-form-pane"  id="eidForm">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6 layui-col-md-offset3" >
                <div class="layui-card" >
                    <div class="layui-card-body">

                        <div class="layui-form-item" style="width: 120px">
                        <label class="layui-form-label">申请批次</label>
                        <select id="eid" name="eid" lay-verify="required"  lay-filter="app1" class="select" style="width: 120px">
                            <option value="" ></option>
                        </select>
                        </div>

                        <div class="layui-form-item" style="margin: 0px 0px 0px 100px;">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="submit"lay-submit lay-filter="reg">提交</button>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/layui.js" charset="utf-8"></script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
         var $ = layui.jquery;
        $.ajax({
            url: '/api/json/available_events',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data.data, function (index, item) {
                    var text="场次:"+item.eid ;
                    $('#eid').append(new Option(text, item.eid));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });


        //自定义验证规则
        form.verify({
            number: function(e) {
                if (!e || isNaN(e)) return "只能填写数字"
                if(e>500||e<0||e%10!==0) return "请输入正确的分数"
            }
        });

        form.on('submit(reg)', function (data) {
            var eid =$('#eid').val();
            $.post("/api/json/submit_app", $("#eidForm").serialize(),function (data) {
                if (data.code===200) {
                    layer.msg('提交成功', {icon: 1, time: 1000});
                } else {
                    layer.msg(data.message, {icon: 5, time: 1000});
                }
            });
            return false;
        });

        return false;

    });

</script>


</body>
</html>