<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css" media="all">
    <script src="/layui.js"></script>
    <script src="/jquery-3.4.1.js"></script>
</head>

<style>
    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }
</style>

<body>
<div class="page">
    <div class="little-header">
        <blockquote class="layui-elem-quote">成绩导入</blockquote>
    </div>
    <div>
        <button type="button" class="layui-btn" id="test1">
            <i class="layui-icon">&#xe67c;</i>上传名单
        </button>
        <a href="/download/scoreImport.xlsx" download="成绩导入模板.xlsx" class="layui-btn">下载模版</a>
    </div>


    <form class="layui-form" id="dataUpload">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">请输入考试批次</label>
            <div class="layui-input-inline" style="width: 360px">
                <select  id="eidlist" name="eid" lay-filter="eid" lay-verify="required">
                </select>
            </div>
        </div>
        <input type="hidden" name="confirmId" id="confirmId">
        <div class="layui-form-item">
            <button type="button" class="layui-btn" onclick="dataUpload()">确认上传</button>
        </div>
    </form>


    <script>
        layui.use(['form','layer'], function () {
            var form = layui.form;
            var $ =layui.jquery;
            $.ajax({
                url: '/api/json/available_events',
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    $.each(res.data, function (index, item) {
                        var text="场次:"+item.examNo +"  开始时间:"+ item.examTime.slice(0,10)+" "+ item.examTime.slice(11,19);
                        $('#eidlist').append(new Option(text, item.eid));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");
                }
            });
        })
        function dataUpload() {
            $.post("/api/json/confirm_grades_import", $("#dataUpload").serialize(),
                function (res) {
                if(res.code==200){
                    layer.msg("上传成功");
                }else
                {
                    layer.msg(res.message);
                }
            });
        }

    </script>

    <table class="layui-table" id="demo" lay-filter="test" style="display: none;"></table>


    <script>

    </script>
    <script>
        layui.use(['upload', 'table'], function () {
            var upload = layui.upload;
            var $ = layui.jquery;
            //执行实例
            var uploadInst = upload.render({
                elem: '#test1' //绑定元素
                ,
                url: '/api/json/import_grades_via_excel/' //上传接口
                ,
                accept: 'file',
                exts: 'xls|xlsx',
                done: function (res) {
                    if (res.code == 200) {
                        layer.msg("解析成功", {icon: 6});
                       $("#confirmId").val(res.data.id);
                        layui.table.render({
                            elem: '#demo',
                            data: res.data.data,
                            page: true, //开启分页
                            id: 'testReload',
                            cols: [
                                [ //表头
                                    {
                                        field: 'idNo',
                                        title: '证件号码',
                                        sort: true
                                    }, {
                                    field: 'grades',
                                    title: '总分',
                                    sort: true
                                }, {
                                    field: 'gradesProblem1',
                                    title: '第一题',
                                    sort: true
                                }, {
                                    field: 'gradesProblem2',
                                    title: '第二题',
                                    sort: true
                                }, {
                                    field: 'gradesProblem3',
                                    title: '第三题',
                                    sort: true
                                }, {
                                    field: 'gradesProblem4',
                                    title: '第四题',
                                    sort: true
                                }, {
                                    field: 'gradesProblem5',
                                    title: '第五题',
                                    sort: true
                                }
                                ]
                            ]
                        });


                    }
                },
                error: function () {
                    //请求异常回调
                }
            });
        });
    </script>
</div>

</body>
</html>