<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css" media="all">
    <script src="/layui.js"></script>
    <script src="/lay/modules/echarts.min.js"></script>
    <script src="/jquery-3.4.1.js"></script>
</head>

<style>
    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 90px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
</style>

<body>
<div class="page">
    <div class="little-header">
        <blockquote class="layui-elem-quote">成绩分析</blockquote>
    </div>

    <div class="layui-fluid">
    <div class="layui-row">
    <div class="layui-col-xs12">
        <div class="layui-col-xs4">
            <div style="border: solid 1px black;color: #00F7DE" >
                <div style="height: 320px">写条件</div>
            </div>
        </div>
        <div class="layui-col-xs8">
            <div style="height: 320px">
            <div id="container" style="height: 100%"></div>
        </div>
        <script>

            var app = {};
            option = null;
            /*option = {
                title: {
                    text: '成绩分布图',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['[0,50)','[50,100)','[100,150)','[150,200)','[200,250)','[250,300)','[300,350)','[350,400)','[400,450)','[450,500]']
                },
                series: [{
                    name: '成绩分布',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [1,1,1,1,1,1,1,1,1,1],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }]
            };*/

            $.get('/api/json/stats/grades_value_distribution').done(function (data) {
                var dom = document.getElementById("container");
                var myChart = echarts.init(dom);
                myChart.setOption({
                    title: {
                        text: '成绩分布图',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['[0,50)','[50,100)','[100,150)','[150,200)','[200,250)','[250,300)','[300,350)','[350,400)','[400,450)','[450,500]']
                    },
                    series: [{
                        name: '成绩分布',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: data.data,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }]
                });
            });

        </script>
        </div>
    </div>
    <div class="layui-col-xs12">
        <div style="height: 430px">
        <div id="container2" style="height: 100%"></div>
    </div>

        <script type="text/javascript">
            var app = {};
            option = null;
            app.configParameters = {
                rotate: {
                    min: -90,
                    max: 90
                },
                align: {
                    options: {
                        left: 'left',
                        center: 'center',
                        right: 'right'
                    }
                },
                verticalAlign: {
                    options: {
                        top: 'top',
                        middle: 'middle',
                        bottom: 'bottom'
                    }
                },
                distance: {
                    min: 0,
                    max: 100
                }
            }

            app.config = {
                rotate: 0,
                align: 'middle',
                verticalAlign: 'middle',
                position: 'top',
                distance: 15,
                onChange: function () {
                    var labelOption = {
                        normal: {
                            rotate: app.config.rotate,
                            align: app.config.align,
                            verticalAlign: app.config.verticalAlign,
                            position: app.config.position,
                            distance: app.config.distance
                        }
                    };
                    myChart.setOption({
                        series: [{
                            label: labelOption
                        }, {
                            label: labelOption
                        }, {
                            label: labelOption
                        }, {
                            label: labelOption
                        }]
                    });
                }
            }

            var labelOption = {
                normal: {
                    show: true,
                    position: app.config.position,
                    distance: app.config.distance,
                    align: app.config.align,
                    verticalAlign: app.config.verticalAlign,
                    rotate: app.config.rotate,
                    fontSize: 16
                }
            }

            $.get('/api/json/stats/overall_stats').done(function (data) {
                var dom = document.getElementById("container2");
                var myChart = echarts.init(dom);
                var aver = [];
                var time = [];
                var num = [];
                var maxscore = [];
                var len = data.data.length;
                for (var i = 0;i < len; i++){
                    time.push(data.data[i].examTime);
                    aver.push(data.data[i].avgGrades);
                    num.push(data.data[i].count);
                    maxscore.push(data.data[i].maxGrades);
                }
                myChart.setOption(
                    option = {
                        color: ['#006699', '#4cabce', '#e5323e'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        legend: {
                            data: ['平均分', '最高分', '大于300人数']
                        },
                        toolbox: {
                            show: true,
                            orient: 'vertical',
                            left: 'right',
                            top: 'center',
                            feature: {
                                mark: {
                                    show: true
                                },
                                dataView: {
                                    show: true,
                                    readOnly: false
                                },
                                magicType: {
                                    show: true,
                                    type: ['line', 'bar', 'stack', 'tiled']
                                },
                                restore: {
                                    show: true
                                },
                                saveAsImage: {
                                    show: true
                                }
                            }
                        },
                        calculable: true,
                        xAxis: [{
                            type: 'category',
                            axisTick: {
                                show: false
                            },
                            data:time
                        }],
                        yAxis: [{
                            type: 'value'
                        }],
                        series: [{
                            name: '平均分',
                            type: 'bar',
                            barGap: 0,
                            label: labelOption,
                            data:aver
                        },

                            {
                                name: '最高分',
                                type: 'bar',
                                label: labelOption,
                                data:maxscore
                            },
                            {
                                name: '大于300人数',
                                type: 'bar',
                                label: labelOption,
                                data:num
                            },
                        ]
                    }
                );
            });
            /*
            var dom = document.getElementById("container2");
            var myChart = echarts.init(dom);
            var app = {};
            option = null;


            app.configParameters = {
                rotate: {
                    min: -90,
                    max: 90
                },
                align: {
                    options: {
                        left: 'left',
                        center: 'center',
                        right: 'right'
                    }
                },
                verticalAlign: {
                    options: {
                        top: 'top',
                        middle: 'middle',
                        bottom: 'bottom'
                    }
                },
                distance: {
                    min: 0,
                    max: 100
                }
            };

            app.config = {
                rotate: 0,
                align: 'middle',
                verticalAlign: 'middle',
                position: 'top',
                distance: 15,
                onChange: function () {
                    var labelOption = {
                        normal: {
                            rotate: app.config.rotate,
                            align: app.config.align,
                            verticalAlign: app.config.verticalAlign,
                            position: app.config.position,
                            distance: app.config.distance
                        }
                    };
                    myChart.setOption({
                        series: [{
                            label: labelOption
                        }, {
                            label: labelOption
                        }, {
                            label: labelOption
                        }, {
                            label: labelOption
                        }]
                    });
                }
            };


            var labelOption = {
                normal: {
                    show: true,
                    position: app.config.position,
                    distance: app.config.distance,
                    align: app.config.align,
                    verticalAlign: app.config.verticalAlign,
                    rotate: app.config.rotate,
                    fontSize: 16
                }
            };

            option = {
                color: ['#006699', '#4cabce', '#e5323e'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data: ['平均分', '最高分', '大于300人数']
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    left: 'right',
                    top: 'center',
                    feature: {
                        mark: {
                            show: true
                        },
                        dataView: {
                            show: true,
                            readOnly: false
                        },
                        magicType: {
                            show: true,
                            type: ['line', 'bar', 'stack', 'tiled']
                        },
                        restore: {
                            show: true
                        },
                        saveAsImage: {
                            show: true
                        }
                    }
                },
                calculable: true,
                xAxis: [{
                    type: 'category',
                    axisTick: {
                        show: false
                    },
                    data: ['2012', '2013', '2014', '2015', '2016']
                }],
                yAxis: [{
                    type: 'value'
                }],
                series: [{
                    name: '平均分',
                    type: 'bar',
                    barGap: 0,
                    label: labelOption,
                    data: [120, 132, 151, 134, 190]
                },

                    {
                        name: '最高分',
                        type: 'bar',
                        label: labelOption,
                        data: [350, 332, 301, 354, 390]
                    },
                    {
                        name: '大于300人数',
                        type: 'bar',
                        label: labelOption,
                        data: [20, 18, 19, 24, 20]
                    },
                ]
            };;
            if (option && typeof option === "object") {
                myChart.setOption(option, true);
            }*/
        </script>
    </div>
    </div>
    </div>


</div>
</body>
</html>