<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css" media="all">
    <script src="/layui.js"></script>
    <script src="/lay/modules/echarts.min.js"></script>
    <script src="/jquery-3.4.1.js"></script>
</head>

<style>
    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 90px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
</style>

<body>
<div class="page">
    <div class="little-header">
        <blockquote class="layui-elem-quote">select Event</blockquote>
    </div>

    <table class="layui-table" id="demo" lay-filter="test"></table>


    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">添加</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.jquery;
            var active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    table.reload('testReload', {
                        where: {
                            keyword: demoReload.val()
                        }
                    });
                }
            };

            //监听事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                console.log(obj.config.id.tr);
                console.log(checkStatus);
                if (obj.event == "add") {
                    layer.open({
                        title: '添加',
                        type: 1,
                        content: $('#form1'),
                    })
                }
                ;
            });
            //监听工具条
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                console.log(data);
                if (layEvent === 'del') { //删除
                    layer.confirm('确认要删除吗', function (index) {
                        $.get("/api/json/delete_grades_entry?gid=" + data.gid, {},
                            function (response) {
                                if (response.code == 200) {
                                    layui.table.reload('testReload');
                                    //obj.del(); //删除对应行（tr）的DOM结构，并更新缓存

                                    layer.close(index);
                                    layer.msg("删除成功");
                                } else {
                                    layer.close(index);
                                    layer.msg(response.message);
                                }
                            });
                    });
                } else if (layEvent === 'edit') { //编辑
                    //do something
                    $("#studentId2").val(data.studentId);
                    $("#eid2").val(data.eid);
                    $("#grades2").val(data.grades);
                    $("#gradesProblem12").val(data.gradesProblem1);
                    $("#gradesProblem22").val(data.gradesProblem2);
                    $("#gradesProblem32").val(data.gradesProblem3);
                    $("#gradesProblem42").val(data.gradesProblem4);
                    $("#gradesProblem52").val(data.gradesProblem5);
                    $("#gid").val(data.gid);


                    layer.open({
                        title: '编辑',
                        type: 1,
                        content: $("#form2")
                    })

                } else if (layEvent === 'LAYTABLE_TIPS') {
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                }
            });


            table.render({
                elem: '#demo',
                toolbar: '#toolbarDemo'
                //,height: 600
                ,
                url: '/api/json/obtain_grades' //数据接口
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                },
                page: true //开启分页
                ,
                id: 'testReload',
                cols: [
                    [ //表头
                        {
                            checkbox: true,
                            fixed: true
                        },{
                        field: 'eid',
                        title: '考试批次',
                        sort: true
                    },
                        // {
                        //     field: 'eid',
                        //     title: 'ID',
                        //     width: 80,
                        //     sort: true,
                        //     fixed: 'left'
                        // },
                        {
                            field: 'studentId',
                            title: '学号',
                            sort: true
                        }, {
                        field: 'name',
                        title: '姓名',
                        sort: true
                    }, {
                        field: 'grades',
                        title: '总分',
                        sort: true
                    }, {
                        field: 'gradesProblem1',
                        title: '第一题',
                        sort: true
                    }, {
                        field: 'gradesProblem2',
                        title: '第二题',
                        sort: true
                    }, {
                        field: 'gradesProblem3',
                        title: '第三题',
                        sort: true
                    }, {
                        field: 'gradesProblem4',
                        title: '第四题',
                        sort: true
                    }, {
                        field: 'gradesProblem5',
                        title: '第五题',
                        sort: true
                    }, {
                        fixed: 'right',
                        width: 150,
                        align: 'center',
                        toolbar: '#barDemo'
                    }
                    ]
                ]
            });

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });


        });
    </script>
</div>


</body>


<div id="form1" style="padding: 20px; display: none;">
    <form class="layui-form" id="addform" lay-filter="create">
        <div class="layui-form-item">
            <label class="layui-form-label">考试批次</label>
            <div class="layui-input-inline">
                <input type="text" name="eid" id="eid" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="text" name="studentId" id="studentId" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">姓名</label>-->
        <!--            <div class="layui-input-inline">-->
        <!--                <input type="text" name="name" id="name" required lay-verify="required" class="layui-input">-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">总分</label>
            <div class="layui-input-inline">
                <input type="text" name="grades" id="grade" required lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">第一题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem1" id="gradesProblem1" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第二题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem2" id="gradesProblem2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第三题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem3" id="gradesProblem3" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">第四题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem4" id="gradesProblem4" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第五题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem5" id="gradesProblem5" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>


<div id="form2" style="padding: 20px; display: none;">
    <form class="layui-form" id="modifyform" lay-filter="modify">
        <div class="layui-form-item">
            <label class="layui-form-label">考试批次</label>
            <div class="layui-input-inline">
                <input type="text" name="eid" id="eid2" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="text" name="studentId" id="studentId2" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label">姓名</label>-->
        <!--            <div class="layui-input-inline">-->
        <!--                <input type="text" name="name" id="name2" required lay-verify="required" class="layui-input">-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">总分</label>
            <div class="layui-input-inline">
                <input type="text" name="grades" id="grades2" required lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">第一题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem1" id="gradesProblem12" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第二题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem2" id="gradesProblem22" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第三题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem3" id="gradesProblem32" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">第四题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem4" id="gradesProblem42" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">第五题</label>
            <div class="layui-input-inline">
                <input type="text" name="gradesProblem5" id="gradesProblem52" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        <input type="hidden" name="gid" id="gid">
    </form>

</div>
<script>
    //Demo
    $('#addform').submit(function () {
            $.post("/api/json/add_grades_entry", $("#addform").serialize(),
                function (response) {
                    if (response.code == 200) {
                        layer.close(layer.index);
                        layer.msg("添加成功");
                        layui.table.reload('testReload');
                    } else {

                        layer.msg(response.message);
                    }
                }
            );
            return false;
        }
    );
    $('#modifyform').submit(function () {
            $.post("/api/json/modify_grades_entry", $("#modifyform").serialize(),
                function (response) {
                    if (response.code == 200) {
                        layer.close(layer.index);
                        layer.msg("修改成功");
                        layui.table.reload('testReload');
                    } else {
                        layer.msg(response.message);
                    }
                }
            );
            return false;
        }
    );
</script>


</html>