<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css" media="all">
    <script src="/layui.js"></script>
    <script src="/lay/modules/echarts.min.js"></script>
    <script src="/jquery-3.4.1.js"></script>
</head>

<style>
    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .layui-form-label {
        float: left;
        display: block;
        padding: 9px 15px;
        width: 90px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
</style>

<body>
<div class="page">
    <div class="little-header">
        <blockquote class="layui-elem-quote">Student Event</blockquote>
    </div>

    <table class="layui-table" id="demo" lay-filter="test"></table>


    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="add">添加</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.jquery;
            var active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    table.reload('testReload', {
                        where: {
                            keyword: demoReload.val()
                        }
                    });
                }
            };

            //监听事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                console.log(obj.config.id.tr);
                console.log(checkStatus);
                if (obj.event == "add") {
                    layer.open({
                        title: '添加',
                        type: 1,
                        content: $('#form1'),
                    })
                }
                ;
            });
            //监听工具条
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                console.log(data);
                if (layEvent === 'del') { //删除
                    layer.confirm('确认要删除吗', function (index) {
                        $.get("/api/json/delete_student?studentId=" + data.studentId, {},
                            function (response) {
                                if (response.code == 200) {
                                    layui.table.reload('testReload');
                                    //obj.del(); //删除对应行（tr）的DOM结构，并更新缓存

                                    layer.close(index);
                                    layer.msg("删除成功");
                                } else {
                                    layer.close(index);
                                    layer.msg(response.message);
                                }
                            });
                    });
                } else if (layEvent === 'edit') { //编辑
                    //do something
                    $("#studentId2").val(data.studentId);
                    $("#name2").val(data.name);
                    $("#gender2").val(data.gender);
                    $("#idNo2").val(data.idNo);
                    $("#admissionYear2").val(data.admissionYear);
                    $("#institute2").val(data.institute);
                    $("#profession2").val(data.profession);
                    $("#classNo2").val(data.classNo);
                    $("#phoneNo2").val(data.phoneNo);

                    layer.open({
                        title: '编辑',
                        type: 1,
                        content: $("#form2")
                    })

                } else if (layEvent === 'LAYTABLE_TIPS') {
                    layer.alert('Hi，头部工具栏扩展的右侧图标。');
                }
            });


            table.render({
                elem: '#demo',
                toolbar: '#toolbarDemo'
                //,height: 600
                ,
                url: '/api/json/list_students' //数据接口
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 200 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                },
                page: true //开启分页
                ,
                id: 'testReload',
                cols: [
                    [ //表头
                        {
                            checkbox: true,
                            fixed: true
                        },
                        // {
                        //     field: 'eid',
                        //     title: 'ID',
                        //     width: 80,
                        //     sort: true,
                        //     fixed: 'left'
                        // },
                        {
                            field: 'studentId',
                            title: '学号',
                            sort: true
                        }, {
                        field: 'name',
                        title: '姓名',
                        sort: true
                    }, {
                        field: 'gender',
                        title: '性别',
                        sort: true
                    }, {
                        field: 'idNo',
                        title: '证件号码',
                        sort: true
                    }, {
                        field: 'admissionYear',
                        title: '入学年份',
                        sort: true
                    }, {
                        field: 'institute',
                        title: '学院',
                        sort: true
                    }, {
                        field: 'profession',
                        title: '专业',
                        sort: true
                    }, {
                        field: 'classNo',
                        title: '班级',
                        sort: true
                    }, {
                        field: 'phoneNo',
                        title: '联系方式',
                        sort: true
                    }, {
                        fixed: 'right',
                        width: 150,
                        align: 'center',
                        toolbar: '#barDemo'
                    }
                    ]
                ]
            });

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });


        });
    </script>
</div>


</body>


<div id="form1" style="padding: 20px; display: none;">
    <form class="layui-form" id="addform" lay-filter="create">
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="text" name="studentId" id="studentId" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="text" name="gender" id="gender" required lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">证件号码</label>
            <div class="layui-input-inline">
                <input type="text" name="idNo" id="idNo" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入学年份</label>
            <div class="layui-input-inline">
                <input type="text" name="admissionYear" id="admissionYear" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学院</label>
            <div class="layui-input-inline">
                <input type="text" name="institute" id="institute" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">专业</label>
            <div class="layui-input-inline">
                <input type="text" name="profession" id="profession" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-inline">
                <input type="text" name="classNo" id="classNo" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                <input type="text" name="phoneNo" id="phoneNo" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>


<div id="form2" style="padding: 20px; display: none;">
    <form class="layui-form" id="modifyform" lay-filter="modify">
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-inline">
                <input type="text" name="studentId" id="studentId2" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name2" required lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="text" name="gender" id="gender2" required lay-verify="required" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">证件号码</label>
            <div class="layui-input-inline">
                <input type="text" name="idNo" id="idNo2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">入学年份</label>
            <div class="layui-input-inline">
                <input type="text" name="admissionYear" id="admissionYear2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学院</label>
            <div class="layui-input-inline">
                <input type="text" name="institute" id="institute2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">专业</label>
            <div class="layui-input-inline">
                <input type="text" name="profession" id="profession2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-inline">
                <input type="text" name="classNo" id="classNo2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-inline">
                <input type="text" name="phoneNo" id="phoneNo2" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</div>
<script>
    //Demo
    $('#addform').submit(function () {
            $.post("/api/json/add_student", $("#addform").serialize(),
                function (response) {
                    if (response.code == 200) {
                        layer.close(layer.index);
                        layer.msg("添加成功");
                        layui.table.reload('testReload');
                    } else {

                        layer.msg(response.message);
                    }
                }
            );
            return false;
        }
    );
    $('#modifyform').submit(function () {
            $.post("/api/json/modify_student", $("#modifyform").serialize(),
                function (response) {
                    if (response.code == 200) {
                        layer.close(layer.index);
                        layer.msg("修改成功");
                        layui.table.reload('testReload');
                    } else {
                        layer.msg(response.message);
                    }
                }
            );
            return false;
        }
    );
</script>


</html>