<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>协会管理系统</title>
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <script src="/layui.js"></script>
    <script src="/jquery-3.4.1.js"></script>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">协会管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right" lay-filter="user">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=117991672,1221899612&fm=26&gp=0.jpg" class="layui-nav-img">
                    编程爱好者协会
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">更改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/api/logout">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a id="association_change_filter">更改筛选条件</a></li>
                <li class="layui-nav-item"><a id="association_import_scores">导入选拔赛成绩</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" >
        <!-- 内容主体区域 -->
        <iframe id="childPage" style="width:100%;height: 100%;" frameborder="0" scrolling="no" src="association_change_filter"></iframe>
    </div>

    <div class="layui-footer" style="text-align: center;">
        <!-- 底部固定区域 -->
        © 软件项目管理7组
    </div>
</div>
<script >
    //JavaScript代码区域
    layui.use('element', function () {
        var $ = layui.jquery,
            element = layui.element;
        element.on('nav(test)', function (elem) {
            console.log(elem);
            if(elem.attr("id")!=null){
                var url = elem.attr("id");
                $("#childPage").attr("src", url);
            }
        });
        element.on('nav(user)', function (elem) {
            console.log(elem);
            if(elem.attr("id")!=null){
                var url = elem.attr("id");
                $("#childPage").attr("src", url);
            }
        });


    });
</script>
</body>
</html>