<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>查看表格</title>
    <link rel="stylesheet" href="../static/css/layui.css">
</head>
<body>

    <div class="layui-row" >
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <select class="layui-select" name="type" lay-verify="">
                <option value="">请选择成绩类型</option>
                <option value="1">CCF</option>
                <option value="2">选拔赛</option>
            </select>
        </div>
        <div style="padding: 15px;">
            <table id="demo" class="layui-table" lay-filter="test"></table>
        </div>
    </div>

<script src="../static/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        element.on('nav(test)', function(elem){
            console.log(elem); //得到当前点击的DOM对象
        });
    });
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#demo'
            ,height: 600
            ,skin: 'row'
            ,url: '../table/' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'name', title: '姓名', width:300}
                ,{field: 'student_id', title: '学号', width:300}
                ,{field: 'exam_time', title: '场次', width:250}
                ,{field: 'grades', title: '成绩', width:300, sort: true}
                ,{field: 'max_grades', title: '满分', width: 250}
                ,{field: 'type', title: '成绩类型', width: 300}
            ]]
        });

    });
</script>
</body>
</html>