<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>修改密码</title>
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <script src="/layui.js"></script>
    <script src="/jquery-3.4.1.js"></script>
</head>
<body>

    <div class="layui-row" >
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <button type="submit" class="layui-btn" id="upload_form">
                <i class="layui-icon">&#xe67c;</i>上传表格
            </button>
            <a href="/download/format.xls" download="format.xls" class="layui-btn">下载模版</a>
        </div>
    </div>
    <form class="layui-form" id="addform" lay-filter="create">
        <div class="layui-form-item" style="width:20%">
            <label class="layui-form-label">选拔赛批次</label>
            <div class="layui-input-block">
                <select id="eid" lay-filter="eid">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">5</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">15</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>

                </select>
            </div>
        </div>
        <input type="hidden" id="confirmId">
        <div style="padding-left: 15px">
            <button type="button" class="layui-btn" id="confirmButton">提交表格</button>
        </div>

        </div>
    </form>

    <table class="layui-table" id="demo" lay-filter="test"></table>

    <script>
        layui.use('table', function () {
            var table = layui.table;
            var $ = layui.jquery;
            var active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    table.reload('testReload', {
                        where: {
                            keyword: demoReload.val()
                        }
                    });
                }
            };
        });
    </script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        element.on('nav(test)', function(elem){
            console.log(elem); //得到当前点击的DOM对象
        });
    });
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload_form' //绑定元素
            ,
            url: '/api/json/import_select_ranks_via_excel' //上传接口
            ,
            accept: 'file',
            exts: 'xls|xlsx',
            done: function (res) {
                if(res.code==200){
                    $("#confirmId").val(res.data.id);
                    layui.table.render({
                        elem: '#demo',
                        toolbar: '#toolbarDemo'
                        //,height: 600
                        ,
                        data: res.data.data //数据接口
                        , response: {
                            statusName: 'code' //规定数据状态的字段名称，默认：code
                            , statusCode: 200 //规定成功的状态码，默认：0
                            , msgName: 'message' //规定状态信息的字段名称，默认：msg
                            , dataName: 'data' //规定数据列表的字段名称，默认：data
                        },
                        page: true //开启分页
                        ,
                        id: 'testReload',
                        cols: [
                            [ //表头
                                {
                                    checkbox: true,
                                    fixed: true
                                },
                                {
                                field: 'name',
                                title: '姓名',
                                sort: true
                            }, {
                                field: 'studentId',
                                title: '学号',
                                sort: true
                            }, {
                                field: 'grade',
                                title: '年级',
                                sort: true
                            }, {
                                field: 'idNo',
                                title: '身份证号码',
                                sort: true
                            }, {
                                field: 'rankNo',
                                title: '选拔赛rank',
                                sort: true
                            }
                            ]
                        ]
                    });
                }
            },
            error: function () {
                //请求异常回调
            }
        });
    });
    $("#confirmButton").click(function() {
            var confirmId=$("#confirmId").val();
            var eid=$("#eid").val();
        $.ajax({
            url:"/api/json/confirm_rank_import",
            type:"post",
            //注意序列化的值一定要放在最前面,并且不需要头部变量,不然获取的值得格式会有问题
            data:"&confirmId="+confirmId+"&eid="+eid,
            dataType:"json",
            success: function () {
                alert("上传成功");
            },
            error: function () {
                alert("上传失败");
            }
        })
    });
</script>
</body>
</html>