<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/do_construct_ccfexam" method="post" id="loginForm">
        <div>
            <input type="text" name="eid" placeholder="eid"/>
        </div>
        <div>
            <input type="text" name="exam_no" placeholder="exam_no" />
        </div>
        <div>
            <input type="text" name="exam_time" placeholder="exam_time" />
        </div>
        <div>
            <input type="text" name="select_exam_time" placeholder="select_exam_time" />
        </div>
        <div>
            <input type="text" name="appli_deadline" placeholder="appli_deadline" />
        </div>
        <div>
            <input type="text" name="can_apply" placeholder="can_apply" />
        </div>
        <div>
            <input type="text" name="appli_starts_on" placeholder="appli_starts_on" />
        </div>
        <button id="submit" type="submit">apply</button>
    </form>
</body>
</html>