<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.njust.dev.ses.main.mapper.AccountExtendMapper">
    <resultMap id="BaseResultMap" type="cn.edu.njust.dev.ses.main.model.User">
        <id column="uid" jdbcType="INTEGER" property="uid" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="type" jdbcType="CHAR" property="type" />
    </resultMap>
    <sql id="Base_Column_List">
        uid, account, password, type
    </sql>
    <select id="findThroughID" parameterType="java.lang.String" resultMap="BaseResultMap">
        (SELECT user.account, user.password, user.type, user.uid FROM user JOIN student s on user.uid = s.uid WHERE id_no = #{id_no}) UNION
        (SELECT user.account, user.password, user.type, user.uid FROM user JOIN teacher t on user.uid = t.uid WHERE work_id = #{id_no})
    </select>
</mapper>